.wrapper {
  width: 100vw;
  position: relative;
  min-height: calc(100vh - 80px - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.title {
  margin-bottom: 50px;
  color: #3A4042;
}

.projects {
  max-width: 960px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.project {
  background-color: #496076;
  height: 280px;
  width: 280px;
  margin: 20px;
  box-shadow: 10px 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-name {
  font-size: 2rem;
  color: #c2f1db;
  margin-bottom: 1rem;

  margin-top: 1rem;
}

.project-logo {
  width: 60%;
  margin-bottom: 1rem;
}

.project-links {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.github:hover, .app:hover {
  transition: filter 0.2s ease;
  filter: brightness(0.1);
}

@media (max-width: 480px) {
  .project {
    width: 220px;
    height: 220px;
  }
  .project-name {
    font-size: 1.5rem;
  }
  .project-logo {
    margin-bottom: 0.5rem;
  }
}
