<section class="wrapper">
  <h3 class="title">Projects</h3>

  <div class="projects">
    <article class="project"></article>
    <article class="project"></article>
    <article class="project"></article>
    <article class="project"></article>
    <article class="project"></article>
    <article class="project"></article>
    <article class="project"></article>
    <article class="project"></article>
    <article class="project"></article>
    <article class="project"></article>
    <article class="project"></article>
    <article class="project"></article>
  </div>
</section>
