<section class="wrapper">
  <h3 class="title">Projects</h3>

  <div class="projects">
    <article class="project" *ngFor="let project of projects">
      <div class="project-name">{{ project['name'] }}</div>
      <div class="project-logo">
        <img src="{{ project['logo'] }}" alt="">
      </div>
      <div class="project-links" *ngIf="project['app'] || project['github']">
        <div *ngIf="project['github']" title="Github Repository" style="height: 100%;">
          <a style="height: 100%;" href="{{ project['github'] }}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" height="100%" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 64 64"><path fill="white" d="M32 0C14 0 0 14 0 32c0 21 19 30 22 30c2 0 2-1 2-2v-5c-7 2-10-2-11-5c0 0 0-1-2-3c-1-1-5-3-1-3c3 0 5 4 5 4c3 4 7 3 9 2c0-2 2-4 2-4c-8-1-14-4-14-15c0-4 1-7 3-9c0 0-2-4 0-9c0 0 5 0 9 4c3-2 13-2 16 0c4-4 9-4 9-4c2 7 0 9 0 9c2 2 3 5 3 9c0 11-7 14-14 15c1 1 2 3 2 6v8c0 1 0 2 2 2c3 0 22-9 22-30C64 14 50 0 32 0z"/></svg>
          </a>
        </div>

        <div *ngIf="project['app']" title="Application" style="height: 100%;">
          <a style="height: 100%;" href="{{ project['app'] }}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" height="100%" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"><g fill="none"><path d="M4.5 17a1.5 1.5 0 0 1-1.493-1.356L3 15.5v-11a1.5 1.5 0 0 1 1.356-1.493L4.5 3H9a1.5 1.5 0 0 1 1.493 1.355l.007.145v.254l2.189-2.269a1.5 1.5 0 0 1 2.007-.138l.116.101l2.757 2.725a1.5 1.5 0 0 1 .111 2.011l-.103.116l-2.311 2.2h.234a1.5 1.5 0 0 1 1.493 1.355L17 11v4.5a1.5 1.5 0 0 1-1.355 1.493L15.5 17h-11zm5-6.5H4v5a.5.5 0 0 0 .326.469l.084.023l.09.008h5v-5.5zm6 0h-5V16h5a.5.5 0 0 0 .492-.41L16 15.5V11a.5.5 0 0 0-.41-.492l-.09-.008zm-5-2.79V9.5h1.79L10.5 7.71zM9 4H4.5a.5.5 0 0 0-.492.41L4 4.5v5h5.5v-5a.5.5 0 0 0-.326-.469l-.084-.023L9 4z" fill="white"/></g></svg>
          </a>
        </div>
      </div>
    </article>
  </div>
</section>
