.wrapper {
  width: 100vw;
  position: relative;
  min-height: calc(100vh - 80px - 50px);
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title, label {
  color: #3A4042;
}

.contact-form {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.play-button {
  background-color: #496076;
  color: #c2f1db;
}

label, .play-button {
  margin-top: 20px;
}

.contact-form > .contact-input {
  border: 5px solid black;
  width: 80vw;
  font-size: 30px;
  outline: none;
}

.contact-form > input {
  height: 50px;
  padding: 0 5px;
}

.contact-form > textarea {
  resize: vertical;
  padding-left: 5px;
  padding-top: 4px;
}

.contact-form > .play-button {
  height: 60px;
  font-size: 20px;
  margin-bottom: 50px;
}

.invalid-btn:hover {
  cursor: not-allowed;
  background-color: #7A1E01;
}

.contact-form > input:invalid,
.contact-form > textarea:invalid {
  border: solid 5px red;
}
