<section class="wrapper">
  <h2 class="title">Contact</h2>

  <form (ngSubmit)="submitContact()" #contactForm="ngForm">
    <article class="contact-form">
      <label for="name">Name</label>
      <input
       class="contact-input"
       type="text"
       name="name"
       [(ngModel)]="name"
       #nameInput="ngModel"
       [ngClass]="{
         'err': nameInput.invalid && nameInput.touched
        }"
       placeholder="João Vitor Casarin"
       required
       autofocus>

      <label for="mail">E-mail</label>
      <input
       class="contact-input"
       type="email"
       name="email"
       [(ngModel)]="email"
       #emailInput="ngModel"
       placeholder="joaocasarin@example.com"
       email
       required>

      <label for="msg">Message</label>
      <textarea
       class="contact-input"
       name="msg"
       rows="5"
       name="message"
       [(ngModel)]="message"
       #messageInput="ngModel"
       placeholder="Tell me what's in your mind..."
       required></textarea>

      <button
       class="play-button"
       type="submit"
       [disabled]="contactForm.invalid"
       [ngClass]="{
         'invalid-btn': contactForm.invalid
        }">Send</button>
    </article>
  </form>
</section>
