.wrapper {
  background-color: #3A4042;
  width: 100vw;
  position: relative;
  min-height: calc(100vh - 80px - 50px);
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.contact-form {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

label, button {
  margin-top: 20px;
}

.contact-form > .contact-input {
  border: 5px solid black;
  width: 80vw;
  font-size: 30px;
  outline: none;
}

.contact-form > input {
  height: 50px;
  padding: 0 5px;
}

.contact-form > textarea {
  resize: vertical;
  padding-left: 5px;
  padding-top: 4px;
}

.contact-form button {
  height: 60px;
  font-size: 20px;
  margin-bottom: 50px;
}

.is-error {
  font-size: 15px;
  background-color: crimson;
  border-radius: 10px;
  padding-left: 10px;
}

.invalid-btn:hover {
  cursor: not-allowed;
  background-color: #7A1E01;
}

/* .err {
  border: solid 5px red;
} */

.contact-form > input:invalid,
.contact-form > textarea:invalid {
  border: solid 5px red;
}
