<section class="wrapper">
  <h2 class="title">Skills</h2>

  <article class="skills-tec">
    <img class="icon" src="../../assets/ico_html5.png" alt="">

    <div class="skill-bar">
      <h3 class="skill-title">HTML</h3>

      <progress class="progress-bar" max="100" value="50">
        50%
      </progress>
    </div>
  </article>

  <article class="skills-tec">
    <img class="icon" src="../../assets/ico_css3.png" alt="">

    <div class="skill-bar">
      <h3 class="skill-title">CSS</h3>

      <progress class="progress-bar" max="100" value="50">
        50%
      </progress>
    </div>
  </article>

  <article class="skills-tec">
    <img class="icon" src="../../assets/ico_js.png" alt="">

    <div class="skill-bar">
      <h3 class="skill-title">JS</h3>

      <progress class="progress-bar" max="100" value="50">
        50%
      </progress>
    </div>
  </article>

  <article class="skills-tec">
    <img class="icon" src="../../assets/ico_react.png" alt="">

    <div class="skill-bar">
      <h3 class="skill-title">ReactJS</h3>

      <progress class="progress-bar" max="100" value="50">
        50%
      </progress>
    </div>
  </article>

  <article class="skills-tec">
    <img class="icon" src="../../assets/ico_nodejs.png" alt="">

    <div class="skill-bar">
      <h3 class="skill-title">NodeJS</h3>

      <progress class="progress-bar" max="100" value="50">
        50%
      </progress>
    </div>
  </article>

  <article class="skills-tec">
    <img class="icon" src="../../assets/ico_tdd.png" alt="">

    <div class="skill-bar">
      <h3 class="skill-title">TDD</h3>

      <progress class="progress-bar" max="100" value="50">
        50%
      </progress>
    </div>
  </article>

  <article class="skills-tec">
    <img class="icon-rest" src="../../assets/ico_restapi.png" alt="">

    <div class="skill-bar">
      <h3 class="skill-title">Rest API</h3>

      <progress class="progress-bar" max="100" value="50">
        50%
      </progress>
    </div>
  </article>

  <article class="skills-tec">
    <img class="icon-rest" src="../../assets/ico_ux.png" alt="">

    <div class="skill-bar">
      <h3 class="skill-title">UX</h3>

      <progress class="progress-bar" max="100" value="50">
        50%
      </progress>
    </div>
  </article>
</section>
