.wrapper {
  background-color: #F25A70;
  width: 100vw;
  position: relative;
  min-height: calc(100vh - 80px - 50px);
  padding: 50px 0 100px; /* BUG PROGRESS BAR */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.skills-wrapper > .skills-tec {
  width: 430px;
}

.skills-wrapper > .skills-tec:nth-child(odd) {
  margin-right: 100px;
}

@media (max-width: 1050px) {
  .skills-wrapper {
    max-width: 800px;
  }
  .skills-wrapper > .skills-tec:nth-child(odd) {
    margin-right: 0;
  }
}

.skills-wrapper > .progress-bar {
  width: 320px;
}

.skills-tec {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  margin-top: 60px;
  font-size: 25px;
}

.skill-title {
  font-size: 25px;
  margin-bottom: 10px;
}

.skills-tec > .icon {
  margin-right: 25px;
  width: 90px;
}

.skills-tec > .skill-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.progress-bar {
  box-sizing: border-box;
  background-color: white;
  border: 5px solid black;
  height: 40px;
}

@media (max-width: 600px) {
  .skills-wrapper {
    max-width: 350px;
  }
  .skill-title {
    font-size: 15px;
  }
  .skills-tec > .icon {
    margin-right: 25px;
    width: 60px;
  }
}

@media (max-width: 380px) {
  .skills-wrapper {
    max-width: 260px;
  }
  .skill-title {
    font-size: 15px;
  }
  .skills-tec > .icon {
    margin-right: 25px;
    width: 40px;
  }
}

.progress-bar::-webkit-progress-value {
  background: #7C5E99;
}

.progress-bar::-webkit-progress-bar {
  background-color: white;
}
