/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* HEADER STYLES - BEGINNING */
.header {
  background-color: #7C5E99;
  width: 100vw;
  height: 80px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 0 20px;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease 0s;
}

/* resize logo font-size when screen < 380px */
@media (max-width: 380px) {
  .logo a {
    font-size: 18px;
  }
}

.logo a:hover {
  color: black;
}

.logo a h3 {
  font-family: 'Press Start 2P', cursive;
}

.nav {
  display: flex;
}

.nav-links {
  color: white;
  margin: auto 0;
}

.nav-links li {
  display: inline-block;
  padding: 0 30px 0 0;
}

/* show the list style, and make the bullet become a red square */
.nav-links li::before {
  content:'\ffed';
  color: red;
  margin-right: 10px;
}

.nav-links li a {
  color: inherit;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  font-size: 20px;
}

.nav-links li a:hover {
  color: black;
}

.download-cv {
  height: 60px;
  width: 170px;
  margin-right: 20px;
  font-size: 20px;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-right: auto;
}

/* Responsive navbar with hamburger button */
@media (max-width: 1050px) {
  .nav {
    display: none;
  }
  .hamburger {
    display: block;
    margin-left: 20px;
  }
  .logo {
    margin-right: auto;
  }
}

/* HEADER STYLES - END */


/* BODY STYLES - BEGINNING */
.content {
  width: 100vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
/* BODY STYLES - END */


/* FOOTER STYLES - BEGINNING */
.footer {
  background-color: darkgray;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.copyright {
  font-size: small;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.copyright a {
  color: inherit;
  transition: all 0.3s ease 0s;
}

.copyright a:hover {
  color: blueviolet;
}
/* FOOTER STYLES - END */
