<div class="wrapper">
  <header class="header">
      <button class="hamburger" mat-icon-button color="black">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="logo">
        <a href="/">
          <img src="../assets/cromada.svg" height="60px" alt="Logo">
        </a>
      </div>

      <div class="nav">
        <ul class="nav-links">
          <li><a routerLink="skills">Skills</a></li>
          <li><a routerLink="projects">Projects</a></li>
          <li><a routerLink="about-me">About me</a></li>
          <li><a routerLink="contact">Contact</a></li>
        </ul>

        <button class="download-cv">
          Download CV
        </button>
      </div>
  </header>

  <div class="body">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <p class="copyright">
      &copy; 2021 <a target="_blank" href="https://github.com/marcobrunolive">@marcobrunolive</a> /
        <a target="_blank" href="https://github.com/joaocasarin">@joaocasarin</a> All Rights Reserved
    </p>
  </footer>
</div>
