.wrapper {
  background-color: #5793a7;
  min-height: calc(100vh - 80px - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 116px;
}

.banner {
  width: 627px;
  height: 184px;
  background-color: #3A4042;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 8px black;
  margin-bottom: 38px;
}

.name {
  font-family: 'Press Start 2P', cursive;
  margin: 42px 0 28px 0;
  color: #F25A70;
  font-size: 40px;
}

.title {
  font-size: 30px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons > * {
  margin: 0 56px;
}

.download-cv, .contact {
  height: 60px;
  width: 170px;
  margin-right: 20px;
  font-size: 20px;
}
